body{
	background: url(../images/arena.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
.banner img{
  height:250px;
  width: auto;
}
.container img{
  height:300px;
  width:250px;
  margin: 10px 15px;
  background: url(../images/aura.gif);
  background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
